function Brick.new 0
    push constant 6
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    pop this 0
    push argument 1
    pop this 1
    push argument 2
    pop this 2
    push argument 3
    pop this 3
    push constant 0
    pop this 4
    push constant 0
    pop this 5
    push pointer 0
    call Brick.show 1
    pop temp 0
    push pointer 0
    return
function Brick.dispose 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return
function Brick.show 0
    push argument 0
    pop pointer 0
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push pointer 0
    call Brick.draw 1
    pop temp 0
    push constant 0
    return
function Brick.hide 0
    push argument 0
    pop pointer 0
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push pointer 0
    call Brick.draw 1
    pop temp 0
    push constant 0
    return
function Brick.draw 0
    push argument 0
    pop pointer 0
    push this 0
    push this 1
    push this 0
    push this 2
    add
    push this 1
    push this 3
    add
    call Screen.drawRectangle 4
    pop temp 0
    push constant 0
    return
function Brick.broken 0
    push argument 0
    pop pointer 0
    push this 5
    return
function Brick.hit 0
    push argument 0
    pop pointer 0
    push constant 0
    pop this 4
    push argument 3
    push this 1
    push this 3
    add
    lt
    push argument 4
    push this 1
    push this 3
    add
    gt
    and
    push argument 1
    push this 0
    push this 2
    add
    lt
    push argument 2
    push this 0
    gt
    and
    and
    not
    if-goto Brick_1
    push constant 1
    neg
    pop this 5
    push constant 3
    pop this 4
    goto Brick_0
label Brick_1
label Brick_0
    push argument 3
    push this 1
    lt
    push argument 4
    push this 1
    gt
    and
    push argument 1
    push this 0
    push this 2
    add
    lt
    push argument 2
    push this 0
    gt
    and
    and
    not
    if-goto Brick_3
    push constant 1
    neg
    pop this 5
    push constant 4
    pop this 4
    goto Brick_2
label Brick_3
label Brick_2
    push argument 3
    push this 1
    push this 3
    add
    lt
    push argument 4
    push this 1
    gt
    and
    push argument 1
    push this 0
    lt
    push argument 2
    push this 0
    gt
    and
    and
    not
    if-goto Brick_5
    push constant 1
    neg
    pop this 5
    push constant 1
    pop this 4
    goto Brick_4
label Brick_5
label Brick_4
    push argument 3
    push this 1
    push this 3
    add
    lt
    push argument 4
    push this 1
    gt
    and
    push argument 1
    push this 0
    push this 2
    add
    lt
    push argument 2
    push this 0
    push this 2
    add
    gt
    and
    and
    not
    if-goto Brick_7
    push constant 1
    neg
    pop this 5
    push constant 2
    pop this 4
    goto Brick_6
label Brick_7
label Brick_6
    push argument 3
    push this 1
    gt
    push argument 4
    push this 1
    push this 3
    add
    lt
    and
    push argument 1
    push this 0
    gt
    and
    push argument 2
    push this 0
    push this 2
    add
    lt
    and
    not
    if-goto Brick_9
    push constant 1
    neg
    pop this 5
    push constant 5
    pop this 4
    goto Brick_8
label Brick_9
label Brick_8
    push this 5
    not
    if-goto Brick_11
    push pointer 0
    call Brick.hide 1
    pop temp 0
    goto Brick_10
label Brick_11
label Brick_10
    push this 4
    return