function Modifier.new 0
    push constant 8
    call Memory.alloc 1
    pop pointer 0
    call Random.new 0
    pop this 7
    push this 7
    push argument 0
    push constant 1
    push constant 6
    call Random.range 4
    pop this 0
    push argument 1
    pop this 1
    push argument 2
    pop this 2
    push constant 3
    pop this 3
    push constant 300
    pop this 4
    push constant 0
    pop this 5
    push constant 1
    neg
    pop this 6
    push pointer 0
    return
function Modifier.dispose 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return
function Modifier.draw 0
    push argument 0
    pop pointer 0
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push this 1
    push this 2
    push this 1
    push this 3
    add
    push this 2
    push this 3
    add
    call Screen.drawRectangle 4
    pop temp 0
    push constant 1
    neg
    pop this 6
    push constant 0
    return
function Modifier.hide 0
    push argument 0
    pop pointer 0
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push this 1
    push this 2
    push this 1
    push this 3
    add
    push this 2
    push this 3
    add
    call Screen.drawRectangle 4
    pop temp 0
    push constant 0
    return
function Modifier.setOnScreen 0
    push argument 0
    pop pointer 0
    push argument 1
    pop this 6
    push constant 0
    return
function Modifier.tickTimer 0
    push argument 0
    pop pointer 0
    push this 4
    push constant 0
    eq
    not
    not
    if-goto Modifier_1
    push this 4
    push constant 1
    sub
    pop this 4
    goto Modifier_0
label Modifier_1
    push constant 0
    pop this 6
    push constant 0
    pop this 5
    push pointer 0
    call Modifier.hide 1
    pop temp 0
label Modifier_0
    push constant 0
    return
function Modifier.getType 0
    push argument 0
    pop pointer 0
    push this 0
    return
function Modifier.getSize 0
    push argument 0
    pop pointer 0
    push this 3
    return
function Modifier.getX 0
    push argument 0
    pop pointer 0
    push this 1
    return
function Modifier.getY 0
    push argument 0
    pop pointer 0
    push this 2
    return
function Modifier.setY 0
    push argument 0
    pop pointer 0
    push argument 1
    pop this 2
    push constant 0
    return
function Modifier.activate 0
    push argument 0
    pop pointer 0
    push constant 1
    neg
    pop this 5
    push constant 0
    pop this 6
    push constant 0
    return
function Modifier.isActive 0
    push argument 0
    pop pointer 0
    push this 5
    return
function Modifier.isOnScreen 0
    push argument 0
    pop pointer 0
    push this 6
    return