function Paddle.new 0
    push constant 6
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    pop this 0
    push argument 1
    pop this 1
    push argument 2
    pop this 2
    push argument 3
    pop this 3
    push constant 2
    pop this 4
    push argument 4
    pop this 5
    push pointer 0
    call Paddle.show 1
    pop temp 0
    push pointer 0
    return
function Paddle.dispose 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return
function Paddle.show 0
    push argument 0
    pop pointer 0
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push pointer 0
    call Paddle.draw 1
    pop temp 0
    push constant 0
    return
function Paddle.hide 0
    push argument 0
    pop pointer 0
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push pointer 0
    call Paddle.draw 1
    pop temp 0
    push constant 0
    return
function Paddle.draw 0
    push argument 0
    pop pointer 0
    push this 0
    push this 1
    push this 0
    push this 2
    add
    push this 1
    push this 3
    add
    call Screen.drawRectangle 4
    pop temp 0
    push constant 0
    return
function Paddle.setDirection 0
    push argument 0
    pop pointer 0
    push argument 1
    pop this 4
    push constant 0
    return
function Paddle.getLeft 0
    push argument 0
    pop pointer 0
    push this 0
    return
function Paddle.getRight 0
    push argument 0
    pop pointer 0
    push this 0
    push this 2
    add
    return
function Paddle.getTop 0
    push argument 0
    pop pointer 0
    push this 1
    return
function Paddle.getWidth 0
    push argument 0
    pop pointer 0
    push this 2
    return
function Paddle.setWidth 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Paddle.hide 1
    pop temp 0
    push argument 1
    pop this 2
    push pointer 0
    call Paddle.show 1
    pop temp 0
    push constant 0
    return
function Paddle.move 0
    push argument 0
    pop pointer 0
    push this 4
    push constant 1
    eq
    not
    if-goto Paddle_1
    push this 0
    push this 5
    sub
    pop this 0
    push this 0
    push constant 13
    lt
    not
    if-goto Paddle_3
    push constant 13
    pop this 0
    goto Paddle_2
label Paddle_3
label Paddle_2
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push this 0
    push this 2
    add
    push constant 1
    add
    push this 1
    push this 0
    push this 2
    add
    push this 5
    add
    push this 1
    push this 3
    add
    call Screen.drawRectangle 4
    pop temp 0
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push this 0
    push this 1
    push this 0
    push this 5
    push constant 1
    sub
    add
    push this 1
    push this 3
    add
    call Screen.drawRectangle 4
    pop temp 0
    goto Paddle_0
label Paddle_1
    push this 4
    push constant 2
    eq
    not
    if-goto Paddle_5
    push this 0
    push this 5
    add
    pop this 0
    push this 0
    push this 2
    add
    push constant 498
    gt
    not
    if-goto Paddle_7
    push constant 498
    push this 2
    sub
    pop this 0
    goto Paddle_6
label Paddle_7
label Paddle_6
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push this 0
    push this 5
    sub
    push this 1
    push this 0
    push constant 1
    sub
    push this 1
    push this 3
    add
    call Screen.drawRectangle 4
    pop temp 0
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push this 0
    push this 2
    add
    push this 5
    push constant 1
    sub
    sub
    push this 1
    push this 0
    push this 2
    add
    push this 1
    push this 3
    add
    call Screen.drawRectangle 4
    pop temp 0
    goto Paddle_4
label Paddle_5
label Paddle_4
label Paddle_0
    push constant 0
    return